    
      <div class="container" style="padding: 10px;align-self: center">
        <div class="jumbotron" style="background-image: url(https://img.freepik.com/free-vector/digital-coding-background-with-numbers-zero-one_1017-30363.jpg?size=626&ext=jpg&uid=R80367427&ga=GA1.2.2001008282.1664387375);margin-top: 30px; margin-bottom: 30px; padding: 200px;image-resolution: inherit">
        <div class="div-style">
        <h1  class="content1" style="color: aliceblue;" >Hello There!</h1>    
        <h2 class="content2" style="color: aliceblue;">Welcome to my Portfolio</h2>
        <p  class="content3" style="color: aliceblue;">I am Mansi Bhagat, Associate Software Developer at Mphasis Limited.</p>
        </div>
      </div>
        </div>
        
        
        
        
        